body {
    font-family: 'Raleway', sans-serif;
    background-color: #0000ff;
}

a {
    text-decoration: none;
    font-size: 25;
    top: -500;
    color: #f2e468;
}

.me {
    color: #f2e468;
    font-size: 40;
    top: -500;
    text-align: center;
    letter-spacing: 50px;
    z-index: -4;
}

.new {
    padding: 5;
}

a:link {
    color: #f2e468;
}

a:hover {
    font-style: italic;
    color: #f900a2;
}

a:visited {
    color: #f2e468;
}

a:visited:hover {
    color: #f900a2;
}

canvas {
    position: fixed; /* Change to fixed */
    display: block;
    top: 0;         /* Reset top position */
    left: 0;        /* Reset left position */
    width: 100%;    /* Make canvas full width */
    height: 100%;   /* Make canvas full height */
    z-index: -1;    /* Keep this to stay behind content */
}

.bar {
    font-style: none;
    color: #0070f9;
    font-size: 2;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
}

::-moz-selection {
    color: red;
    background: yellow;
}

::selection {
    color: red;
    background: yellow;
}
